:root {
    --header-color: #3A1078;
    --backdrop-color: #4E31AA;
    --offwhite: #DFD5D0;
    --accent: #3795BD;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    background-color: var(--backdrop-color);
    display: flex;
    flex-direction: column;
}

/* -----Header----- */
header {
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
}

.logo {
    margin-right: 10px;
}

.title {
    color: var(--accent);
}

.left {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right > a{
    text-decoration: none;
    color: var(--accent);
}

.right > a:last-child {
    padding-left: 15px;
}

.mobile {
    display: none;
}

/* -----Current Date----- */
.current-date{
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    color: var(--accent);
}

/* -----Landing----- */
.landing {
    color: var(--offwhite);
    padding: 20px;
    margin-top: 200px;
    text-align: center;
}

.landing-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.landing-button {
    padding: 5px 20px;
    background-color: var(--header-color);
    color: var(--accent);
    border-radius: 15px;
    font-size: large;
    width: fit-content;
    margin-top: 10px;
    font-weight: bold;
}

/* -----Login / Register----- */

.login-register-container {
    background-color: var(--header-color);
    max-width: fit-content;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    border-radius: 15px;
}

.login-register {
    color: var(--offwhite);
    text-align: center;
    padding-top: 10px;
}

.login-register-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    max-width: fit-content;
    align-items: center;
    margin: auto;
}

.login-register-form-element {
    padding: 10px 20px;
    margin: 10px;
}

.submit-btn {
    padding: 5px 20px;
    background-color: var(--backdrop-color);
    color: var(--accent);
    margin: 15px 0px 5px 0px;
    border-radius: 15px;
    font-size: medium;
    font-weight: bold;
}

.error-message {
    color: var(--offwhite);
}

/* -----Prompt----- */
.prompt {
    text-align: center;
    padding: 20px 20px 0px 20px;
    font-size: large;
    font-weight: bold;
    color: var(--offwhite)
}

.footer-buttons {
    position: fixed;
    bottom: 30px; /* Adjust this value as needed */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--header-color);
    padding: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.prompt-button {
    padding: 5px 20px;
    background-color: var(--backdrop-color);
    color: var(--accent);
    margin: 5px;
    border-radius: 15px;
    font-size: large;
}

.new-entry {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    padding: 10px;
    margin-bottom: 15px;
    max-width: fit-content;
}

.save {
    padding: 5px 20px;
    background-color: var(--header-color);
    color: var(--accent);
    border-radius: 15px;
    font-size: large;
    width: fit-content;
    margin: auto;
    font-weight: bold;
}

/* -----Entries----- */
.entries-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-div {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 30px;
}

.entry-date {
    text-align: right;
    background-color: var(--header-color);
    color: var(--accent);
    padding: 5px 10px 5px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.entry-prompt {
    background-color: var(--header-color);
    color: var(--offwhite);
    padding: 3px 10px 10px 10px;
    text-align: center;
}

.entry-text {
    background-color: var(--offwhite);
    color: var(--header-color);
    padding: 5px 10px 5px 10px;
}

.edit-delete-div {
    background-color: var(--accent);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
}

/* -----Footer----- */

footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.credits {
    font-size: x-small;
    color: black;
}

@media (max-width: 380px) {
    .right {
        display: none;
    }

    .right.is-open {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top:2px;
    }

    .mobile {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .right > a:last-child {
        padding: 0;
    }

    .landing-buttons-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    textarea {
        width: 90%;
    }

    .entry-div {
        width: 90%;
    }
}