:root {
    --header-color: #3A1078;
    --backdrop-color: #4E31AA;
    --accent-close: #2F58CD;
    --accent-far: #3795BD;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    background-color: var(--backdrop-color);
    display: flex;
    flex-direction: column;
}

/* -----Header----- */
header {
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.logo {
    margin-right: 10px;
}

.title {
    color: var(--accent-far);
}

/* -----Current Date----- */
.current-date{
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    color: var(--accent-far);
}

/* -----Prompt----- */
.prompt {
    text-align: center;
    padding: 20px 20px 0px 20px;
    font-size: large;
    font-weight: bold;
}

/* -----Footer----- */

footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
}

.footer-buttons {
    position: fixed;
    bottom: 30px; /* Adjust this value as needed */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--header-color);
    padding: 20px;
    margin-bottom: 5px;
    width: 100%;
}

.prompt-button {
    padding: 5px 20px;
    background-color: var(--backdrop-color);
    color: var(--accent-far);
    margin: 5px;
    border-radius: 15px;
    font-size: large;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.credits {
    font-size: x-small;
    color: black;
}